//reescribir variables Bootstrap
$main: #648381;
$secondary: #808F85;
$boton: #B5C6C4;
$fondo: #EAF2EF;

//asignar paleta de colores a las variables propias de Bootstrap
$primary: $main;
$success: $secondary;
$dark: $boton;
$danger: $fondo;

$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

@import '../../node_modules/bootstrap/scss/bootstrap.scss'; //poniendo la ruta correcta según nuestro proyecto